<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <img src="~/Content/Images/talentsoft-logo.png"></img>
                <h1>Welcome to ASP.NET Web API!</h1>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
        </div>
    </section>
</div>
